<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Signin Template · Bootstrap</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/signin.css" rel="stylesheet">
</head>

<body class="text-center">
    <form action="/users/login/es" method="POST" class="form-signin">
        <img class="mb-4" src="/img/logo.png" alt="" width="150" height="150">
        <h1 class="h3 session_init mb-3 font-weight-normal">Inicia sesión</h1>
        <label for="username" class="sr-only">Nombre de usuario</label>
        <input name="username" type="text" id="username" class="form-control" placeholder="Tu usuario o correo" required
            autofocus>
        <label for="inputPassword" class="sr-only">Contraseña</label>
        <input name="password" type="password" id="password" class="form-control" placeholder="Contraseña" required>
        <button class="btn btn-lg btn-primary btn-block mt-3 boton" type="submit">Iniciar sesión</button>
        {{#if mensaje}}
        <div class="alert alert-danger mt-3" role="alert">
            {{mensaje}}
        </div>
        {{/if}}
        <p class="mt-5 mb-3 text-muted"> Also available in <a href="/users/login/en">English</a></p>
    </form>
</body>

</html>