<footer class="text-muted ">
    <div class="container">
        <p class="float-right">
            <a href="#navbarxd">Arriba</a>
        </p>
        <p class="text-center">Boulevard Chahue - Tangolunda 103, Sector O,
            70989 Bahias de Huatulco, OAX.</p>
        <p class="text-center">Teléfono: 9585834419</p>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" ></script>
<script src="/js/funciones.js"></script>
</body>
</html>
